name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config libcmocka-dev # Adjust based on your CMocka installation method

    - name: Build
      run: make

    - name: Run tests
      run: make test

    - name: Build the isotp_udp test
      run: make clean && make isotp_udp
